
{{#unless gh-link-route}}
    {{gh-org.name}}    
{{/unless}}
{{#if gh-link-route}}
    {{link-to gh-org.name gh-link-route gh-org.name}}  
{{/if}}

{{#if gh-action-title}}
        <span {{action 'buttonClick'}} >
            {{#unless isFavourited}} 
                {{gh-action-alt-title}}
            {{else}}
                {{gh-action-title}}
            {{/unless}}
        </span>
    {{/if}}
{{yield}}
