
{{#unless link-route}}
    {{org.name}}    
{{/unless}}
{{#if link-route}}
    {{link-to org.name link-route org.name}}  
{{/if}}

{{#if action-title}}
        <button {{action 'buttonClick' org}} >{{action-title}}</button>
    {{/if}}
{{yield}}
