{{#unless link-route}}
    {{org.name}}
    {{#if action-title}}
        <button {{action 'buttonClick' org}} >{{action-title}}</button>
    {{/if}}
{{/unless}}

{{#if link-route}}
    {{link-to org.name link-route org.name}}
    {{#if action-title}}
        <button {{action 'buttonClick' org}} >{{action-title}}</button>
    {{/if}}
{{/if}}

{{yield}}