<h1>Orgs List</h1>
<ul>
    {{#each model as |org|}}
    <li>{{link-to org.name 'org' org.name}}
        <span {{action 'favouriteClicked' org}} >[ Favourite ]</span>
    </li>

    {{/each}}

</ul>

{{social-info 
    name = 'Zen Panda'
    twitter = 'ZPCoding'
    github = 'Zen-Pandawan'
    on-expansion-toggle='socialExpansionToggled'}}
    
{{social-info 
    name = 'Sean Smith'
    
    github = 'Zen-Pandawan'}}

{{outlet}}