<h1>Orgs List</h1>
<ul>
    {{#each model as |org|}}
        <li>{{org.name}}</li>
        
    {{/each}}fb net yah ember

<li>{{link-to 'Facebook' 'org.repos' 'facebook'}} </li>
<li>{{link-to 'Netflix' 'org.repos' 'netflix'}} </li>
<li>{{link-to 'Yahoo' 'org.repos' 'yahoo'}} </li>
<li>{{link-to 'Ember' 'org.repos' 'emberjs'}} </li>
    
</ul>
{{outlet}}