<h1>Orgs List</h1>
<ul>
    {{#each model as |org|}}
    <li>{{link-to org.name 'org' org.name}}
        <span {{action 'favouriteClicked' org}} >[ Favourite ]</span>
    </li>

    {{/each}}fb net yah ember

    <li>{{link-to 'Facebook' 'org' 'facebook'}} </li>
    <li>{{link-to 'Netflix' 'org' 'netflix'}} </li>
    <li>{{link-to 'Yahoo' 'org' 'yahoo'}} </li>
    <li>{{link-to 'Ember' 'org' 'emberjs'}} </li>

</ul>
{{outlet}}